body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(180, 206, 236);
    color: rgb(42, 42, 161);
}

h1{ 
    color: aquamarine;
    text-align: center;
}

a{
    text-decoration: none;
    margin-right: 15px;
    font-size: 16px;
    color: rgb(24, 172, 172);
}

a:hover{
    cursor: pointer;
    color: rgb(127, 58, 190);
    background-color: #423f3f;
    padding: 10px;
    border-radius: 10px;
    transition: 0.2s ease-in;

}
.bottom-link{
    text-align: center;
}

ul li ::before{
    content: "🚀";
    padding-right: 10px;
    font-size: 16px;
}
p ::first-letter{
    color: orangered;
    font-size: 22px;
}
p ::after{
    content: "🪐";

}
ul li:first-child{
    color: orangered
}
ul li :last-child{
    color: chartreuse
}
ul li :nth-child(3){
    color: blueviolet;
}